@media (min-width: 993px){

    .users-border-container{
background-color: #e0f7fa; /* bg-cyan-100 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.08); /* shadow-lg */
  height: 150px; /* h-[150px] */
  border-radius: 0.375rem; /* rounded-md */
  display: flex; /* flex */
  justify-content: space-between; /* justify-between */

    }

    .users-container-info{

        display: flex;
    }

    .users-card-name-container{

        padding-top: 0.5rem; /* p-2 */
        padding-bottom: 0.5rem; /* p-2 */
        padding-left: 0.5rem; /* p-2 */
        padding-right: 0.5rem; /* p-2 */

    }

    .users-card-name{

        font-weight: 600; /* font-semibold */
    }
    
    .users-card-username{
        color: #38b2ac; /* text-cyan-400 */
  font-weight: 700; /* font-bold */
  font-size: 0.875rem; /* text-sm */

    }

    .users-card-friends-button-container{
        display: flex; /* flex */
  justify-content: center; /* justify-center */
  align-items: center; /* items-center */
  gap: 1rem; /* gap-4 */
  padding-top: 0.5rem; /* p-2 */
  padding-bottom: 0.5rem; /* p-2 */
  padding-left: 0.5rem; /* p-2 */
  padding-right: 0.5rem; /* p-2 */

    }

    .users-card-message-button{

        border-width: 2px; /* border-2 */
  border-color: #38b2ac; /* border-cyan-400 */
  padding-left: 0.5rem; /* px-2 */
  padding-right: 0.5rem; /* px-2 */
  padding-top: 0.375rem; /* py-1.5 */
  padding-bottom: 0.375rem; /* py-1.5 */
  border-radius: 0.375rem; /* rounded-md */
    }

    .users-card-message-button:hover{
        background-color: #38b2ac; /* hover:bg-cyan-400 */
    }


    .users-card-already-friends {
        border: 2px solid #38b2ac; /* border-2 border-cyan-400 */
        padding-left: 0.5rem; /* px-2 */
        padding-right: 0.5rem; /* px-2 */
        padding-top: 0.375rem; /* py-1.5 */
        padding-bottom: 0.375rem; /* py-1.5 */
        border-radius: 0.375rem; /* rounded-md */
      }
      
      .users-card-already-friends:hover {
        background-color: #38b2ac; /* hover:bg-cyan-400 */
      }

      .users-card-request-sent{
        border: 2px solid #38b2ac; /* border-2 border-cyan-400 */
  background-color: #38b2ac; /* bg-cyan-400 */
  padding-left: 0.5rem; /* px-2 */
  padding-right: 0.5rem; /* px-2 */
  padding-top: 0.375rem; /* py-1.5 */
  padding-bottom: 0.375rem; /* py-1.5 */
  width: 140px; /* w-[140px] */
  border-radius: 0.375rem; /* rounded-md */

      }

      .users-card-friends-button{

        border: 2px solid #38b2ac; /* border-2 border-cyan-400 */
        padding-left: 0.5rem; /* px-2 */
        padding-right: 0.5rem; /* px-2 */
        width: 140px; /* w-[140px] */
        padding-top: 0.375rem; /* py-1.5 */
        padding-bottom: 0.375rem; /* py-1.5 */
        border-radius: 0.375rem; /* rounded-md */
      }

      .users-card-friends-button:hover {
        background-color: #38b2ac; /* hover:bg-cyan-400 */
      }
      


}