
@media (min-width: 993px){

    .pagination{
       text-align: center;
       display: grid;
       grid-template-columns: repeat(auto-fill, 20px);
       color:  #002D62;
       cursor: pointer;
       list-style: none;
    }
   
}

