
 .pagination{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 20px);
    color:  #002D62;
    cursor: pointer;
    list-style: none;
 }

 .events-section{
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     grid-row-gap: 30px;
 }

 /* .event-card{
     border: black solid 1px;
 } */

 .event-category{
     display: grid;
     grid-template-columns: repeat(3, 108px);
 }

.create-section{
    display: grid;
    grid-template-columns: 10fr 1fr
}

.new-event-btns{
    background: white;
    height: 40px;
    width: 110px;
    color: #0cc0df;
}