.background {
  width: 100vw;
  height: 100vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:1;
  background-color: black;
  opacity: 0.5;
}

.show {
  opacity: 100%;
  z-index: 200;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext-bottom {
  background-color: azure;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 10%;
  margin-left: -60px;
}
.tooltip .tooltiptext-bottom::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 25%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent azure transparent;
}

.tooltip .tooltiptext-right {
  background-color: azure;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -50px;
  left: 110%;
}

.tooltip .tooltiptext-right::after {
  content: "";
  position: absolute;
  bottom: 23%;
  right: 100%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent azure transparent transparent;
}