*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  overflow-y: scroll;
}

/* .nav {
  background: linear-gradient(90deg, #92FE9D 0%, #00C9FF 100%);
} */

.navbar {
  background-color: #fff;
  padding : .7rem;
  box-sizing: border-box;
  position: fixed;
  width: calc(100% - 2rem);
  bottom: 0;
  left: 45%;
  transform: translateX(-50%);
  margin: 1rem;
  border-radius: 3rem;
  justify-content: space-around;
  max-width: 25rem;
}

.navbar div {
  height: 1rem;
  width: 1.5rem;
  padding: .5rem;
  border-radius: 50%;
  cursor: pointer;
}




/*-----------------BUTTONS-------------------------------*/

.wrap {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: white;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.signup::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.signup:hover, .signup:focus {
  transform: translateY(-6px);
}

.signup:hover::before, .signup:focus::before {
  opacity: 1;
}

.signup::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s normal;
}

.signup:hover::after, .signup:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}