*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  overflow-y: scroll;
}

/* .nav {
  background: linear-gradient(90deg, #92FE9D 0%, #00C9FF 100%);
} */

.navbar {
  background-color: #fff;
  padding : .7rem;
  box-sizing: border-box;
  position: fixed;
  width: calc(100% - 2rem);
  bottom: 0;
  left: 45%;
  transform: translateX(-50%);
  margin: 1rem;
  border-radius: 3rem;
  justify-content: space-around;
  max-width: 25rem;
}

.navbar div {
  height: 1rem;
  width: 1.5rem;
  padding: .5rem;
  border-radius: 50%;
  cursor: pointer;
}




/*-----------------BUTTONS-------------------------------*/

